body {
    background-color: #2B2A33;
}

header {
    text-align: center;
    vertical-align: middle;
}

header #naglowek {
    font-size: 50px;
    color: var(--header-color);
    text-decoration: none;
}

#hamburger {
    margin: 10px;
    height: 50px;
    float: right;
    position: absolute;
    top: 0px;
    right: 0px;
    vertical-align: middle;
}

nav {
    height: 30px;
    display: flex;
}

nav .edge {
    border-width: 0px 0px 1px 0px;
    border-color: var(--secondary-header-color);
    border-style: solid;
    flex: 1;
    width: 30px;
}

nav a {
    flex: 15;
    border-style: solid;
    border-width: 1px;
    border-color: var(--secondary-header-color);
    color: var(--secondary-header-color);
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: center;
}

nav a:visited {
    border-width: 1px 1px 0px 1px;
}

nav a:hover {
    border-color: #FF7B0E;
}
