body {
    background-color: #2B2A33;
    color: white;
    margin: 0px;
}

header #naglowek {
    text-align: center;
    font-size: 2.5vw;
    color:aqua;
    display: block;
    text-decoration: none;
}

#hamburger {
    margin: 0.5vw;
    width: 2.5vw;
    float: right;
    position: absolute;
    top: 0px;
    right: 0px;
    vertical-align: middle;
}

nav {
    height: 1.6vw;
    display: flex;
}

nav .edge {
    border-width: 0px 0px 1px 0px;
    border-color: blue;
    border-style: solid;
    flex: 1;
    width: 30px;
}

nav a {
    flex: 15;
    border-style: solid;
    border-width: 1px;
    border-color: blue;
    color: aqua;
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: center;
}

nav a:visited {
    border-width: 1px 1px 0px 1px;
}

nav a:hover {
    border-color: red;
}
