body {
    background-color: #25242C;
}

main {
    width: 70vw;
    text-align: left;
    margin-left: 15vw;
}

footer {
    background-color: #2B2A33;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

iframe {
    border: none;
    width: 100vw;
}

h2, h3  {
    color: var(--header-color);
}

main a {
    color: var(--secondary-header-color);
    text-decoration: none;
    font-weight: bold;
}

main .img {
    float: right;
    border: solid 2px gray;
    padding: 7px;
    text-align: center;
}

.img img {
    width: 100%;
}

main p {
    text-align: left;
}
