body {
    background-color: #25242C;
}

main {
    width: 70vw;
    margin-left: 15vw;
    margin-bottom: 5em;
}

footer {
    background-color: #2B2A33;
    position: fixed;
    padding: 0.25em;
    bottom: 0px;
    width: calc(100% - 0.5em);
}

body > iframe {
    border: none;
    width: 100vw;
}

h2, h3  {
    color: var(--header-color);
}

main a {
    color: var(--secondary-header-color);
    text-decoration: none;
    font-weight: bold;
}

main .img {
    float: right;
    border: solid 2px gray;
    padding: 7px;
    text-align: center;
    vertical-align: middle;
    margin: 1em;
}

.img img {
    width: 100%;
}

main ul {
    list-style-type: square;
}

a:hover {
    color: #FF7B0E;
}

.credits {
    margin: 10px;
    background-color: var(--secondary-header-color);
    text-align: center;
}

canvas {
    border: 1px solid var(--secondary-header-color);
}

button {
    background-color: #25242C;
    color: var(--header-color);
    border-color: var(--secondary-header-color);
    border-width: 2px;
    margin: 0.25em;
}

button:hover  {
    border-color:#FF7B0E;
}

.verbox , .horbox {
    border: 1px solid var(--secondary-header-color);
    margin: 1em;
    padding: 1em;
    display: inline-block;
}

.horbox {
    border-left: 0;
    border-right: 0;
}

.verbox {
    border-top: 0;
    border-bottom: 0;
}


form {
    margin: 0.5em;
}

textarea, input {
    margin: 0.25em;
}
