main {
    text-align: center;
}

@keyframes move_right {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(600px);
    }
}

#drzwi {
    transform: translateX(600px);
    animation-name: move_right;
    animation-duration: 4s;
}

#pokoj {
    position: absolute;
}
